@font-face {
  font-family: dinosaur;
  src: url(../fonts/dinosaur-bold.woff); }
@font-face {
  font-family: dinosaur-light;
  src: url(../fonts/dinosaur-ligth.woff); }
@font-face {
  font-family: dinosaur-medium;
  src: url(../fonts/dinosaur-medium.woff); }
body, html {
  margin: 0px;
  font-family: dinosaur; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.ml23 {
  margin-left: 23px; }

.mr23 {
  margin-right: 23px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

a {
  position: relative; }
  a:hover::after {
    width: 100%; }
  a::after {
    transition: ease-in-out 225ms;
    content: "";
    width: 0%;
    height: 3px;
    background: #212429;
    bottom: -5px;
    border-radius: 10px;
    left: 0px;
    position: absolute; }

nav {
  width: 100vw;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  nav ul {
    padding: unset;
    display: flex;
    list-style: none;
    align-items: center; }
    @media screen and (max-width: 950px) {
      nav ul {
        display: none; } }
    nav ul li:nth-of-type(5) {
      margin: 0px 80px 0px 48px; }
    nav ul li a {
      transition: ease-in-out 225ms;
      text-decoration: none;
      line-height: 24px;
      font-size: 16px;
      font-family: dinosaur;
      color: #212429; }
    nav ul button {
      background: #83BAEA;
      border-radius: 22px;
      padding: 10px 20px 10px 20px;
      font-family: dinosaur;
      font-weight: 700;
      color: #ffff;
      border: none;
      transition: ease-in-out 225ms; }
      nav ul button:hover {
        cursor: pointer;
        color: #212429; }

header {
  background: #F4F2EC;
  height: auto;
  position: relative;
  z-index: 10; }
  @media screen and (max-width: 900) {
    header {
      display: flex;
      justify-content: center;
      align-items: center; } }

.social-container {
  position: absolute;
  bottom: 54px;
  right: 60px;
  width: 25px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .social-container:hover {
    cursor: pointer; }
  @media screen and (max-width: 900px) {
    .social-container {
      display: none !important; } }
  .social-container img:hover {
    cursor: pointer; }
  .social-container img:nth-of-type(1) {
    margin-bottom: 20px; }

section {
  z-index: 100 !important;
  margin-left: 380px;
  margin-top: calc( 200px - 140px );
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }
  @media screen and (max-width: 900px) {
    section {
      width: auto !important;
      margin: 490px 15px 0px 15px !important; }
      section h1 {
        font-size: 50px !important;
        line-height: 56px;
        text-align: center;
        width: 100%;
        word-break: normal;
        margin: 0px 15px; }
      section p {
        margin: 0px auto;
        width: 100% !important;
        text-align: center; }
      section button {
        margin: 0px auto 0px auto;
        margin-bottom: 60px !important; }
      section a img {
        position: absolute;
        top: -520px;
        left: 50vw; } }
  @media screen and (max-width: 1200px) {
    section {
      margin-left: 250px; } }
  @media screen and (max-width: 1100px) {
    section {
      margin-left: 190px; } }
  section h1 {
    margin: 0px;
    font-size: 62px; }
  section p {
    font-size: 16px;
    line-height: 24px;
    width: 445px;
    font-weight: lighter;
    margin-top: 80px;
    font-style: light;
    font-family: dinosaur-ligth; }
  section button {
    margin-top: 66px;
    background: #212429;
    color: #ffff;
    border: none;
    border-radius: 22px;
    padding: 12px 24px 12px 24px;
    font-weight: 700;
    margin-bottom: 186px;
    transition: ease-in-out 225ms; }
    section button:hover {
      cursor: pointer;
      color: #83BAEA; }
  section img {
    margin-bottom: 20px; }
    section img:hover {
      cursor: pointer; }

.label {
  z-index: 0;
  transform: rotate(7deg);
  position: absolute;
  top: 58px;
  left: 223px; }
  @media screen and (max-width: 900px) {
    .label {
      width: 120px;
      height: 120px;
      top: 20px;
      left: 20px; } }
  @media screen and (max-width: 1200px) {
    .label {
      left: 120px; } }
  @media screen and (max-width: 1100px) {
    .label {
      left: 60px; } }
  .label img {
    width: 240px;
    height: 240px; }

.bottleGroup {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 150px;
  left: 662px; }
  @media screen and (max-width: 900px) {
    .bottleGroup {
      width: 628px !important;
      height: 628px !important;
      top: 40px !important;
      left: -80px !important; } }
  @media screen and (max-width: 1200px) {
    .bottleGroup {
      left: 550px; } }
  @media screen and (max-width: 1100px) {
    .bottleGroup {
      left: 450px; } }
  @media screen and (max-width: 1000px) {
    .bottleGroup {
      width: 500px !important;
      height: 500px !important;
      left: 510px; } }
  @media screen and (max-width: 1400px) {
    .bottleGroup {
      width: 700px;
      height: 700px; } }

.menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  height: 24px;
  width: 24px; }
  .menu:hover {
    cursor: pointer; }
  @media screen and (max-width: 950px) {
    .menu {
      display: block; } }

/*# sourceMappingURL=header.css.map */
