@font-face {
  font-family: dinosaur;
  src: url(../fonts/dinosaur-bold.woff); }
@font-face {
  font-family: dinosaur-light;
  src: url(../fonts/dinosaur-ligth.woff); }
@font-face {
  font-family: dinosaur-medium;
  src: url(../fonts/dinosaur-medium.woff); }
body, html {
  margin: 0px;
  font-family: dinosaur; }

html {
  overflow-x: hidden; }

.ml23 {
  margin-left: 23px; }

.mr23 {
  margin-right: 23px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

main {
  position: relative;
  width: 100vw;
  height: auto;
  background: #ffff; }

.headline {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px; }
  @media screen and (max-width: 600px) {
    .headline {
      margin-top: 80px; }
      .headline h2, .headline p {
        width: 90% !important;
        margin: 0px 15px 0px 15px;
        text-align: center; }
      .headline p {
        margin-top: 50px; } }
  .headline h2 {
    font-size: 40px; }
  .headline p {
    width: 1120px;
    line-height: 40px;
    font-size: 24px; }

.bar {
  position: absolute;
  width: 160vw;
  height: 194px;
  left: -650px;
  top: 655px;
  background: #83BAEA;
  transform: rotate(-41deg);
  z-index: 0; }

.beer-informations {
  z-index: 10;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px auto 0px auto;
  display: flex; }
  .beer-informations .bottle {
    width: 900px;
    height: 900px; }
  .beer-informations .information {
    width: 540px; }
    .beer-informations .information p:nth-of-type(1) {
      line-height: 40px;
      font-size: 24px;
      margin-bottom: 40px; }
    .beer-informations .information p:nth-of-type(2) {
      line-height: 32px;
      font-size: 16px;
      font-style: light;
      font-family: dinosaur-light; }
    .beer-informations .information h6 {
      color: #ffff;
      line-height: 16px;
      font-size: 14px;
      margin-top: 200px;
      margin-bottom: 16px; }
    .beer-informations .information h2 {
      margin-bottom: 80px;
      line-height: 32px;
      font-size: 24px; }
  .beer-informations .ingredients {
    display: flex; }
    .beer-informations .ingredients .ingredient {
      margin-top: 40px;
      width: 160px;
      height: 158px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .beer-informations .ingredients .ingredient:nth-of-type(2) {
        padding-left: 30px;
        border-left: solid 0.5px #ACB5BD;
        border-right: solid 0.5px #ACB5BD; }
      .beer-informations .ingredients .ingredient:nth-of-type(3) {
        padding-left: 30px; }
      .beer-informations .ingredients .ingredient .lineOne {
        font-size: 16px;
        line-height: 24px;
        margin: 50px 0px 5px 0px; }
      .beer-informations .ingredients .ingredient .lineTwo {
        font-family: dinosaur-ligth;
        font-size: 16px;
        line-height: 24px;
        color: #ACB5BD;
        margin: 5px 0px 50px 0px; }

.bars {
  margin-bottom: 250px;
  display: flex;
  flex-direction: column; }
  .bars .progress progress {
    width: 225px;
    height: 5px;
    border-radius: 20px; }
    .bars .progress progress::-moz-progress-bar {
      background: #83BAEA; }
  .bars .upperLine {
    display: flex;
    letter-spacing: 2px; }
  .bars .lowerLine {
    display: flex;
    letter-spacing: 2px; }

/*# sourceMappingURL=main.css.map */
