
@font-face
    font-family: dinosaur
    src: url(../fonts/dinosaur-bold.woff)
@font-face
    font-family: dinosaur-light
    src: url(../fonts/dinosaur-ligth.woff)
@font-face
    font-family: dinosaur-medium
    src: url(../fonts/dinosaur-medium.woff)

body,html
    margin: 0px
    font-family: dinosaur
html
    overflow-x: hidden
    scroll-behavior: smooth

.ml23
    margin-left: 23px
.mr23
    margin-right: 23px
.ml15
    margin-left: 15px
.mr15
    margin-right: 15px

$ligthblue: #83BAEA
$background: #E5E5E5
$gray: #F4F2EC
$gray2: #ACB5BD
$gray3: #E0DED8
$fontcolorBlack: #212429
$white: #ffff

a
    position: relative
    &:hover
        &::after
            width: 100%
    &::after
        transition: ease-in-out 225ms
        content: ""
        width: 0%
        height: 3px
        background: $fontcolorBlack
        bottom: -5px
        border-radius: 10px
        left: 0px
        position: absolute
