
@font-face
    font-family: dinosaur
    src: url(../fonts/dinosaur-bold.woff)
    font-weight: bold
    font-style: normal
@font-face
    font-family: dinosaur
    src: url(../fonts/dinosaur-ligth.woff)
    font-weigth: light
    font-style: normal
@font-face
    font-family: dinosaur
    src: url(../fonts/dinosaur-medium.woff)
    font-weight: normal
    font-style: normal

body,html
    margin: 0px
    font-family: dinosaur

.ml23
    margin-left: 23px
.mr23
    margin-right: 23px
.ml15
    margin-left: 15px
.mr15
    margin-right: 15px
$ligthblue: #83BAEA
$background: #E5E5E5
$gray: #F4F2EC
$gray2: #ACB5BD
$gray3: #E0DED8
$fontcolorBlack: #212429
$white: #ffff
